.page-404 {
  @include padding-block;

  display: flex;
  flex-direction: column;
  row-gap: rem(20);
  align-items: center;
}

.page-404__code {
  font-size: rem(144);
  font-weight: 600;
}

.page-404__title {
  @include heading-1;

  text-align: center;
}

.page-404__text {
  @include heading-4;

  color: var(--secondary-text);
  text-align: center;
}

.page-404__custom-button {
  text-transform: uppercase;
}
