{% set pageTitle = "404" %}
{% set bodyClass = "full-height-layout" %}
{% extends "layout.njk" %}

{% block content %}
  <section class="page-404">
    <span class="page-404__code">404</span>
    <h1 class="page-404__title">Page not found!</h1>
    <p class="page-404__text">
      This page was not found (deleted or never existed).<br />Try a phrase in search box or back to
      home and start again.
    </p>
    <a
      href="/CastPress/index"
      class="custom-button page-404__custom-button"
      aria-label="return to homepage"
    >
      <span class="custom-button__text">homepage</span>
      <svg class="custom-button__icon" aria-hidden="true">
        <use href="#icon-custom-button-arrow"></use>
      </svg>
    </a>
  </section>
{% endblock %}
