{% set pageTitle = "Privacy policy" %}
{% set bodyClass = "full-height-layout" %}
{% extends "layout.njk" %}

{% block content %}
  <section class="privacy-policy container">
    <h1 class="privacy-policy__title">Privacy Policy</h1>
    <h2 class="privacy-policy__subtitle">Your details and data</h2>
    <p class="privacy-policy__text">
      Duis rutrum dictum libero quis rutrum. Etiam sed neque aliquam, sollicitudin ante a, gravida
      arcu. Nam fringilla molestie velit, eget pellentesque risus scelerisque a. Nam ac urna
      maximus, tempor magna et, placerat urna. Curabitur eu magna enim. Proin placerat tortor lacus,
      ac sodales lectus placerat quis. Curabitur ultricies ex ante, eu placerat ipsum hendrerit ut.
      Maecenas ornare tellus id consequat mollis. Aenean urna risus, dignissim non cursus nec,
      volutpat hendrerit libero.
    </p>
    <h2 class="privacy-policy__subtitle">Security</h2>
    <p class="privacy-policy__text">
      Duis rutrum dictum libero quis rutrum. Etiam sed neque aliquam, sollicitudin ante a, gravida
      arcu. Nam fringilla molestie velit, eget pellentesque risus scelerisque a. Nam ac urna
      maximus, tempor magna et.
    </p>
    <h2 class="privacy-policy__subtitle">Cookies</h2>
    <ul class="privacy-policy__list">
      <li class="privacy-policy__item">
        <p class="privacy-policy__item-text">
          Morbi congue odio vel luctus aliquam. Morbi accumsan sapien at lorem ultricies .placerat
          et ac neque. Proin risus eros.
        </p>
      </li>
      <li class="privacy-policy__item">
        <p class="privacy-policy__item-text">
          Morbi congue odio vel luctus aliquam. Morbi accumsan sapien at lorem ultricies .placerat
          et ac neque. Proin risus eros.
        </p>
      </li>
    </ul>
  </section>
{% endblock %}
